.cabecera{
    display: flex;
    justify-content: space-between;
}

.cabecera__logo{
    display: flex;
    align-items: center;
}

.cabecera__titulo{
    font-weight: 700;
}

.cabecera__lista{
    display: flex;
    gap: 2rem;
}

.cabecera__item:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.cabecera__item--contacto{
    font-weight: 700;
}